/**************/
/* Font */
/**************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/****************/
/* Root */
/****************/

:root {
	--dx-rood: #E64646;
	--dx-grijs: #777777;
	--dx-lichtgrijs: #e4e4e4;
	--dx-zwart: #222222;
	--bg-dag: #ffffff;
	--bg-nacht: #222222;
	--dx-wit: #ffffff;
}






/****************/
/* Algemeen */
/****************/

* {
	margin: 0%;
	padding: 0%;
}

body {
	background-color: var(--bg-dag);
	margin: 0em 1em 0em 1em;
}

h1, h2, h3, h4, p, a, button {
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}





/****************/
/* HEADER */
/****************/

h1 {
	visibility: hidden;
}

header>section:first-of-type {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

header>section:first-of-type>article>select{
	padding: 5px 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: var(--dx-rood);
	margin-right: 1.5em;
}

header>section:first-of-type img {
	max-width: 25px;
}

header>section:first-of-type img:first-of-type {	
	margin-right: 1em;
}





/****************/
/* MAIN */
/****************/

main section article h3, p, a {
	font-weight: 400;
	font-size: 0.8em;
}

main h2 {
	color: var(--dx-rood);
	font-size: 1.2em;
	margin-top: 3em;
}

main h2:first-of-type {
	padding-bottom: 1em;
	border-bottom: 1px solid var(--dx-grijs);	
	margin-bottom: 1em;
}

main h2:first-of-type {
	color: var(--dx-rood);
	font-size: 1.3em;
	font-weight: 800;
}

main h2 {
	color: var(--dx-zwart);
	font-size: 1.5em;
	font-weight: 500;
}

main>a {
	color: var(--dx-rood);
	font-weight: 800;
}	

main section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 1em;
	text-align: center;
	margin-top: 1.5em;
	column-gap: 1.5em;
}

main section article {
	display: grid;
	grid-template-rows: 1fr;
}

main section article p {
	margin: 0.5em 0em 0.5em 0em;
}

main section article button {
	background-color: var(--dx-wit);
	border-style: solid;
	border-color: var(--dx-zwart);
	border-width: 1px;
	font-size: 0.8em;
	padding: 5px 5px 5px 5px;
}

img {
	width: 100%;
}




/****************/
/* MAIN BUISNESS PARTNERS LIJST*/
/****************/

main>article:last-of-type {
	background-color: var(--dx-lichtgrijs);
}

main>article:last-of-type ul {
	display: flex;
	overflow-x: scroll;	
	align-items: center;
	margin: 5em 0em 5em 0em;
}

main>article:last-of-type ul li img {
	width: 150px;
	margin: 0.5em 1em 0.5em 1em;
}






/****************/
/* FOOTER 1e SECTION*/
/****************/

footer>article:first-of-type {
	display: grid;
	grid-template-columns: repeat(4, 1fr);	
	list-style: none;
}

footer>article:first-of-type>section>h3 {
	margin-bottom: 1em;
	font-size: 1em;
}

footer>article:first-of-type>section:nth-of-type(4)>nav>ul {
	display: flex;
	gap: 1em;
}

footer>article:first-of-type section nav ul li a {
	color: var(--dx-grijs);
}

footer>article:first-of-type section nav ul li{
	margin-top: 1em;
}

footer>article:first-of-type>section>h3 {
	color: var(--dx-rood);
}

footer>article:nth-of-type(2)>section>h3 {
	color: var(--dx-grijs);
	font-weight: 300;
	font-size: 0.8em;
	margin-top: 2em;
}

footer>article:first-of-type>section:nth-of-type(4)>nav>ul>li img {
	max-width: 25px;
}

footer>article:first-of-type>section {
	margin-bottom: 1em;
}




/****************/
/* FOOTER 2e SECTION*/
/****************/

footer>article:nth-of-type(2) section {
	border-top: 1px solid var(--dx-grijs);
}

footer>article:nth-of-type(2) ul {
	display: flex;
	justify-content: center;
	gap: 8px;
}

footer>article:nth-of-type(2) li {
	border: 1px solid var(--dx-zwart);
	padding: 3px 5px 0px 5px;
	margin: 2em 0em 5em 0em;
}

footer>article:nth-of-type(2) section img {
	width: 30px;
	max-height: 20px;
	border: var(--dx-zwart);
}






/****************/
/* MEDIA QUERYS */
/****************/

@media (max-width: 530px) {
	footer>article:first-of-type {
		grid-template-columns: repeat(1, 1fr);	
	}

	main section {
		grid-template-columns: repeat(2, 2fr);
	}
}